---
import FeaturedItem, { FeaturedItemType } from './FeaturedItem.astro';

export interface Props {
  featuredItems: FeaturedItemType[];
  heading: string;
}

const { featuredItems, heading } = Astro.props;
---

<div class='relative border-b border-b-gray-600 p-6 py-10 sm:py-14'>
  <div class='container'>
    <h2
      class='text-md font-regular absolute -top-[17px] flex rounded-lg border border-gray-600 bg-wet-asphalt px-3 py-1 text-white sm:left-1/2 sm:-translate-x-1/2'
    >
      {heading}
    </h2>

    <ul class='grid grid-cols-1 gap-2 sm:grid-cols-2 md:grid-cols-2'>
      {
        featuredItems.map((featuredItem) => (
          <li>
            <FeaturedItem
              text={featuredItem.text}
              url={featuredItem.url}
              isNew={featuredItem.isNew}
              isUpcoming={featuredItem.isUpcoming}
            />
          </li>
        ))
      }
    </ul>
  </div>
</div>
