---

import '../styles/gefest-layout.css';
import { getAllBestPractices } from '../lib/best-pratice';
import { getAllGuides } from '../lib/guide';
import { getRoadmapsByTag } from '../lib/roadmap';
import { getAllVideos } from '../lib/video';
import GefestLayout from '../layouts/GefestLayout.astro';
import twitter from "/images/twitter.svg";
import instagram from "/images/instagram.svg";
import github from "/images/github.svg";
import logo from "/images/logo.jpg"
import where_it_salary from "/images/where-it-salary.png";
import salary from "/images/salary.png";
import programmer from "/images/programmer.png";

const roleRoadmaps = await getRoadmapsByTag('lead-magnet');
const skillRoadmaps = await getRoadmapsByTag('skill-roadmap');
const bestPractices = await getAllBestPractices();

const guides = await getAllGuides();
const videos = await getAllVideos();
---

<GefestLayout
  title='Гефест академия'
  description={'Гефест академия'}
  permalink={'/'}
>
  <div class="header">
    <div class="header-links">
      <a href="/" class="text-base-inter-bold text-28">
        Гефест Академия
      </a>
    </div>
  </div>

  <div class="salary-container">
    <div class="salary">
      <div class="salary-images">
        <img 
          src={programmer}
          class="programmer-image"
        />
        <img
          class="salary-image" 
          src={salary}
        />
      </div>
      <div class="flex flex-col gap-12">
        <h1 class="how-they-make-money">
          Как программисты зарабатывают до 
          <span>2.500.000 тг</span>
          в месяц?
        </h1>
        <a 
          href="#test"
          class="take-test-see white bold "
        >
          Пройди тест и узнай
        </a>
      </div>
    </div>
  </div>

  <div id="test" class="take-test">
    <div class="take-test-container">
      <h2 class="base-inter bold text-[54px]">Пройди тест и узнай</h2>
      <div class="flex w-2/5 gap-[54px]">
        <div class="w-1/3 flex flex-col gap-7">
          <img class="w-img h-img" src=""/>
          <div class="flex flex-col gap-4">
            <h4 class="text-24 base-inter bold text-[24px]">Подойдет ли тебе IT?</h4>
            <p class="base-inter text-[16px]">Готовы к IT? Пройди наш тест и выясни!</p>
          </div>
        </div>
        <div class="w-1/3 flex flex-col gap-7">
          <img class="w-img h-img" src=""/>
          <div class="flex flex-col gap-4">
            <h4 class="text-24 base-inter bold text-[24px]">Время до результата</h4>
            <p class="base-inter text-[16px]">Создай свой первый сайт уже через месяц!</p>
          </div>
        </div>
        <div class="w-1/3 flex flex-col gap-7">
          <img class="w-img h-img" src=""/>
          <div class="flex flex-col gap-4">
            <h4 class="text-24 base-inter bold text-[24px]">Сложности в пути</h4>
            <p class="base-inter text-[16px]">Подготовься к вызовам и покори с нашей поддержкой</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="high-salaries">
    <div class="high-salaries-container">
      <div class="flex flex-col gap-12">
        <h3 class="text-[32px] base-inter-white bold max-w-xl">
          Где в 
          <span class="text-[#29d08a]">АйТи высокие зарплаты</span>
          и ссылки на бесплатные курсы и материалы по ним
        </h3>
        <div class="flex gap-16">
          <div class="flex flex-col">
            <p class="space-grotesk bold text-[48px]">6</p>
            <p class="space-grotesk text-[16px]">IT Профессий</p>
          </div>
          <div class="flex flex-col">
            <p class="space-grotesk bold text-[48px]">20+</p>
            <p class="space-grotesk text-[16px]">Ресурсов для изучения</p>
          </div>
        </div>
      </div>
    </div>
    <img
      src={where_it_salary}
      class="it-salary-img"
    />
  </div>

  <div class="test-container">
    <div class="test-main">
      <h2 class="text-[48px] text-center font-bold">
        А вот и тест :)<br/>
        Ждем вас в сообществе <strong class="text-[#29D08A]">Гефест</strong>!
      </h2>
      <div class="">
        <!-- {} -->
        <div class="stepper">
          {Array(7).fill(0).map((i) => <div class="step-line"></div>)}
        </div>
        <div class="">
          <label class="text-[22px]">
            Как к вам обращаться?<br/>
          </label>
          <input
            type="text"
            class="input-test"
          />
          <button class="next">Дальше</button>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-container">
      <div class="flex flex-col gap-16">
        <div class="flex">
          <img src={github}/>
          <h3 class="text-28 text-white">Гефест</h3>
        </div>
        <div class="flex flex-col gap-6">
          <div class="flex gap-2.5">
            <a href="">
              <img src={twitter}/>
            </a>
            <a href="">
              <img src={instagram} class="w-[15px] h-[15px]"/>
            </a>
            <a href="">
              <img src={github}/>
            </a>
          </div>
          <p class="copyright">
            Copyright © 2023 Gefest. All Rights Reserved
          </p>
        </div>
      </div>
    </div>
  </div>
</GefestLayout>
