---
import { siteConfig } from '../lib/config';
import '../styles/global.css';


export interface Props {
  title: string;
  ogImageUrl?: string;
  // This isn't used anywhere except for the sponsor event labels
  briefTitle?: string;
  redirectUrl?: string;
  description?: string;
  keywords?: string[];
  noIndex?: boolean;
  canonicalUrl?: string;
  initialLoadingMessage?: string;
  permalink?: string;
  jsonLd?: Record<string, unknown>[];
}


const {
  title = siteConfig.title,
  briefTitle,
  description = siteConfig.description,
  ogImageUrl = 'https://roadmap.sh/images/og-img.png',
  keywords = siteConfig.keywords,
  noIndex = false,
  permalink = '',
  canonicalUrl: givenCanonical = '',
  jsonLd = [],
  redirectUrl = '',
  initialLoadingMessage = '',
} = Astro.props;


---
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='generator' content={Astro.generator} />
    <!-- <meta name='commit' content={commitUrl} /> -->
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='author' content='Kamran Ahmed' />
    <meta name='keywords' content={keywords.join(', ')} />
    {
      redirectUrl && (
        <meta http-equiv='refresh' content={`1;url=${redirectUrl}`} />
      )
    }
    {noIndex && <meta name='robots' content='noindex' />}
    <meta
      name='viewport'
      content='width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0'
    />
    <meta http-equiv='Content-Language' content='en' />

    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:creator' content='@kamrify' />

    <meta property='og:image:width' content='1200' />
    <meta property='og:image:height' content='630' />
    <!-- <meta property='og:image' content={ogImageUrl || 'https://roadmap.sh/images/og-img.png'} /> -->
    <meta property='og:image:alt' content='roadmap.sh' />
    <meta property='og:site_name' content='roadmap.sh' />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:type' content='website' />
    <!-- <meta property='og:url' content={currentPageAbsoluteUrl} /> -->

    <!-- <link rel='canonical' href={canonicalUrl} /> -->

    <meta name='mobile-web-app-capable' content='yes' />
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta
      name='apple-mobile-web-app-status-bar-style'
      content='black-translucent'
    />
    <meta name='apple-mobile-web-app-title' content='roadmap.sh' />
    <meta name='application-name' content='roadmap.sh' />

    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/manifest/apple-touch-icon.png'
    />
    <meta name='msapplication-TileColor' content='#101010' />
    <meta name='theme-color' content='#848a9a' />

    <link rel='manifest' href='/manifest/manifest.json' />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/images/logo.jpg'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/images/logo.jpg'
    />
    <link
      rel='shortcut icon'
      href='/manifest/favicon.ico'
      type='image/x-icon'
    />

    <link rel='icon' href='/manifest/favicon.ico' type='image/x-icon' />

    <link rel='preconnect' href='https://www.google-analytics.com/' />
    <link rel='preconnect' href='https://api.roadmap.sh/' />

    <slot name='after-header' />
    {
      jsonLd.length > 0 && (
        <script type='application/ld+json' set:html={JSON.stringify(jsonLd)} />
      )
    }
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&family=Playfair+Display:wght@500&family=Poppins:wght@700&family=Raleway:wght@500&family=Roboto:wght@500&family=Space+Grotesk:wght@600;700&display=swap" rel="stylesheet">
  </head>
  <body class="main-body">
    <slot/>
  </body>
</html>
